{% extends "base.html" %}
{% block styles %}
    
  <link rel="stylesheet" href="../assets/stylesheets/main.6910b76c.min.css">
  <link href="/fa/fontawesome/css/all.css" rel="stylesheet">
  {% if config.theme.palette %}
    {% set palette = config.theme.palette %}
    <link rel="stylesheet" href="../assets/stylesheets/palette.196e0c26.min.css">
    {% if palette.primary %}
      {% import "partials/palette.html" as map %}
      {% set primary = map.primary(
        palette.primary | replace(" ", "-") | lower
      ) %}
      <meta name="theme-color" content="{{ primary }}">
    {% endif %}
  {% endif %}
{% endblock %}